:host {
  display: flex;
  flex-direction: column;
  padding: 10px;

  header {
    display: flex;

    button {
      flex-basis: 50%;
      padding: 40px 10px;
      margin: 5px;
      font-size: 24px;
    }
  }

  div {
    display: flex;

    section {
      display: flex;
      flex-direction: row-reverse;
      flex-wrap: wrap;

      flex-basis: 75%;

      &:last-of-type {
        flex-direction: column;
        flex-wrap: nowrap;
        flex-basis: 25%;
      }

      button {
        flex-basis: 25%;
        padding: 40px 10px;
        margin: 5px;
        font-size: 24px;
        flex-grow: 1;
      }
    }
  }
}
